body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

body {
  background-color: lightblue;
}

.banner-container {
  background-color: #4caf50; /* Background color for the banner */
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
}

.error {
  color: red;
  font-size: 12px;
}
.multiline-tooltip {
  display: inline-block;
  position: relative;
}

.multiline-tooltip .tooltip-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: pre-line; /* This allows for line breaks */
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.multiline-tooltip:hover .tooltip-content {
  display: block;
}