body.custom-background {
  color: #FF0000;
  font-family: Arial, sans-serif;
  
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.bookCover{

  width: auto; /* Desired width */
  height: 500px; /* Desired height */
  object-fit: cover;
}

.bookCover-Single{

  width: auto; /* Desired width */
  height: 400px; /* Desired height */
  object-fit: cover;
  float: left;
  margin-right: 5px;
}
.element1{

  text-align: center;
  
}

.BookDisplay-container{
  justify-content: space-between;
  display: flex;
  max-width: 1200px;
  margin: 3 auto;
  gap: 45px;
  text-align: center;
  padding-top: 20px
  
  
 
  
  

}



.HomePageInfo{
    padding: 20px;
}

.Nofti{
  text-align: center;
  font-size: 15px;

}



.custom-dropdown-Notifcation {
  width: 300px; /* Adjust the width as needed */
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Add scroll if the content exceeds the max height */
  border-style: solid;
  border-width: 2px;
  border-color: black;
  text-align: center;
}


.grid-container-BookDisplay{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  font-family: "Times New Roman", Times, serif;
  width: 1200px;
  align-items: start;
  position: absolute;
  left: 390px; 
  top: 100px;
 
  
  
}

.grid-item {
  grid-column: 1 / 2; /* Ensures the item starts at the first column */
  grid-row: 1 / 2; /* Ensures the item starts at the first row */
}

.glow-text {
  font-size: 2rem;
  
  transition: text-shadow 0.3s ease-in-out;
}

.glow-text:hover {

  color: #6b6e6e;
}

.BookDetialsLink{
  font-family: "Times New Roman", Times, serif;
  color: black;

}
.my-link {
  color: black;
  text-decoration: none;
}


.rating-container {
  display: inline-block;
  position: relative;
  font-size: 2em;
  color: gold;
  cursor: pointer;
}

.rating-number {
  display: inline-block;
  background-color: #000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 0.5em; /* Adjust this value to fit the stars */
}

.stars {
  display: inline-block;
}

.star {
  margin-right: 5px;
}

.search_box{
  float: left;
  width: 350px;
  height: 344px;
  margin-left: -1559px;
  border-style:solid;
  position: fixed;
  

}
#input{
  width: 50%;
}
.Book-Page-container{
  justify-content: space-between;
  display: flex;
  max-width: 1200px;
  text-align: center;
  
 
}


.grid-container-BookDisplay_CheckOut{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  font-family: "Times New Roman", Times, serif;
  width: 1200px;
  align-items: start;
  position: absolute;
  left: 90px; 
  top: 100px;
 
  
  
}


.bookCover-Checkout{

  width: 70%; /* Desired width */
  height:  70%; /* Desired height */
  object-fit: cover;
}


.Checkout-button{

  width: 15%; /* Desired width */
  height:  70%; /* Desired height */
  background-color: #000;
 
}

.Checkout-button:hover {
  background-color: #6b6e6e;
}
